body {
  margin: auto;
  width: 70%;
  font-family: Verdana;
  background-color: rgb(247, 236, 222);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 32x;
}
table,th,td{
  border: 1.4px solid rgb(152, 153, 146);
}
figcaption{
  font-style: italic;
}
figure{
  float:right;
}